@font-face {
    font-family: '851Gkktt';
    src: url('851Gkktt.woff2') format('woff2'),
        url('851Gkktt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nikkyou Sans';
    src: url('Nikkyou-Sans.woff2') format('woff2'),
        url('Nikkyou-Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


